@import '../styles/variables.scss';

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    max-width: 1440px;
    margin: auto;
}

// Appliquer la marge globale à l'ensemble du contenu
main {
    margin: var(--global-margin);
}

// Exclure la navbar et le footer de la marge globale
.navbar, .footer {
    margin: 0; // Pas de marge pour ces éléments
    padding: 0 20px; // Si tu veux ajuster l'espacement interne pour la navbar et le footer
}

.fade-enter {
    opacity: 0;
    transform: scale(0.95); /* Ajout d'un léger zoom au début */
  }
  .fade-enter-active {
    opacity: 1;
    transform: scale(1); /* Remet à sa taille normale */
    transition: opacity 300ms, transform 300ms;
  }
  .fade-exit {
    opacity: 1;
    transform: scale(1);
  }
  .fade-exit-active {
    opacity: 0;
    transform: scale(0.95); /* Zoom arrière à la fin */
    transition: opacity 300ms, transform 300ms;
  }

  /* global.scss ou navbar.scss */
html {
  scroll-behavior: smooth;
}

  
@media (max-width: 758px) {
  main {
    margin: 20px;
    overflow: hidden;
  }
}