.parallax-container {
  width: 90%;
  display: flex;
  flex-direction: column; /* S'assurer que les sections sont empilées */
  margin: auto;
  margin-top: 8%;
}

.parallax {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between; /* Placer les images à gauche et le contenu à droite */
  align-items: center;
  position: relative;
}

.parallax-image {
  margin-left: 20px;
  width: 40%; /* Les images occupent 40% à gauche */
  height: 98%;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Effet parallax */
  opacity: 1;
  transition: opacity 0.5s ease;
}

.parallax-image:hover {
  opacity: 1; /* Changer l'opacité quand l'utilisateur survole */
}

.parallax-content {
  width: 45%;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 40px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  height: 100vh;
}

.parallax-number {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: -30px;
  color: #FF8200 ;
}

.parallax-content h2 {
  font-size: 64px;
  font-weight: 400;
}

.parallax-content p {
  font-size: 40px;
}

.highlight {
  background-color: #FF8200;
  color: white;
  padding: 0 4px;
  border-radius: 4px;
}

/* Media queries pour mobile */
@media (max-width: 768px) {
  .parallax {
    flex-direction: row; /* Garde l'image à gauche et le contenu à droite */
    justify-content: space-around; /* Centrer les éléments dans la grille */
    align-items: center;
    height: auto; /* Laisse l'élément ajuster sa hauteur au contenu */
    margin-bottom: 40px; /* Espacement entre les sections */
  }

  .parallax-image {
    width: 40%; /* L'image reste à gauche mais sa taille est réduite */
    height: 250px; /* Hauteur réduite pour mobile */
    margin-left: 0; /* Centre l'image */
    background-attachment: scroll; /* Désactive le parallax sur mobile */
  }

  .parallax-content {
    width: 55%; /* Le texte prend plus de place à droite */
    padding: 20px; /* Réduit l'espace intérieur */
    text-align: left; /* Maintient le texte aligné à gauche */
    height: auto; /* Ajuste la hauteur */
  }

  .parallax-number {
    font-size: 32px; /* Réduit la taille du numéro */
  }

  .parallax-content h2 {
    font-size: 28px; /* Réduit la taille du titre */
    font-weight: 500;
  }

  .parallax-content p {
    margin-top: 0;
    font-size: 18px; /* Réduit la taille du texte */
  }
}