.serviceImg {
    position: absolute ;

    img {
        width: 100%; /* Make sure the image scales correctly */
        height: auto;
    }

    /* Bubble message styles */
    .bubble-message {
        position: absolute;
        top: 20%;
        left: 70%;
        transform: translateX(-50%);
        background-color: #ff8200; /* Dark background for the bubble */
        color: white;
        padding: 10px;
        border-radius: 10px;
        font-size: 14px;
        text-align: center;
        opacity: 0; /* Initially hidden */
        transform: scale(0.9); /* Start smaller */
        transition: all 0.3s ease;
        pointer-events: none;
        width: 220px;
        visibility: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    }

    /* Show the bubble message on hover */
    &:hover .bubble-message {
        opacity: 1;
        transform: translateX(-50%) scale(1); /* Grow to full size */
        visibility: visible;
    }
}