.topCard {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(12, 1fr);
    width: 100%;
    max-height: 365px;
    position: relative; // Nécessaire pour les pseudo-éléments
    border-radius: 20px;
    overflow: hidden; // Empêche les débordements d'animation
    transition: transform 0.4s ease, box-shadow 0.4s ease; // Transition pour le survol

    /* Effet de zoom et ombre au survol */
    &:hover {
        transform: scale(1.03); // Zoom léger au survol
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); // Ombre plus marquée au survol
    }

    &__image {
        grid-column: 1 / 20;
        grid-row: 1 / 13;
        position: relative;
        border-radius: 20px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.4s ease; // Zoom au survol de l'image

            /* Zoom de l'image au survol */
            .topCard:hover & {
                transform: scale(1.05); // Zoom léger de l'image
            }
        }

        /* Overlay avec la couleur #ECECEC et une opacité de 60% */
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #ECECEC; // Couleur du filtre
            opacity: 0.7; // Opacité du filtre
            pointer-events: none; // Empêche toute interaction avec le pseudo-élément
            z-index: 1; // S'assurer que l'overlay soit au-dessus de l'image
        }
    }

    &__h3 {
        grid-column: 1 / 15;
        grid-row: 1 / 2;
        font-size: 20px;
        padding: 20px;
        font-weight: 400;
        z-index: 2;
        opacity: 1;
        transition: color 0.3s ease; // Transition de la couleur au survol

    }

    &__title {
        grid-row: 12 / 13;
        grid-column: 1 / 17;
        z-index: 2; // Le titre doit être visible au-dessus de l'image
        padding: 10px 20px;
        font-size: 48px;
        font-weight: 500;
        opacity: 1;
        transition: color 0.3s ease; // Transition de la couleur au survol

    }

    &__icon {
        grid-column: 19 / 20;
        grid-row: 1 / 2;
        z-index: 2;
        width: 41px;
        opacity: 1;
        transform: translateX(0); // Icône à sa place par défaut
        transition: transform 0.3s ease; // Transition pour le déplacement de l'icône


        img {
            width: 41px;
            height: 41px;
            transition: transform 0.3s ease; // Animation de l'icône

            /* Rotation subtile de l'icône */
            .topCard:hover & {
                transform: rotate(45deg); // L'icône tourne légèrement au survol
            }
        }
    }
}

@media (max-width: 758px) {
    .topCard {
        max-height: 200px;
        &__title {
            font-size: 30px;
        }
    }
}

